<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Inspectra</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
  <div class="hero_area ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <img src="../static/images/logo.png" alt="">
          </a>
          <div class="" id="">
            <div class="User_option">
              <form class="form-inline my-2  mb-3 mb-lg-0">
                <input type="search" placeholder="Search">
                <button class="btn   my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/essaie">Essaie</a>
                <a href="/contact">Contactez-nous</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    
                    <h1>
                      Inspectra <br>
                      <span>
                        Solution d'Analyse Avancée
                      </span>
                    </h1>
                    <p>
                      Une solution efficace, sécurisée et évolutive pour l'analyse et la détection avancée des fichiers malveillants.
                    </p>
                    <div class="btn-box">
                      <a href="/essaie" class="btn-1">
                        Essayer
                      </a>
                      <a href="/contact" class="btn-2">
                        Contactez-nous
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../static/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container">
          <img src="../static/images/heading-img.png" alt="">
          <h2>
            À Propos de Nous
          </h2>
        </div>
        <p>
        <b>Inspectra</b> est une solution qui se concentre sur l'analyse des fichiers et des données pour détecter les activités suspectes. En utilisant des règles YARA, Inspectra analyse les fichiers en temps réel, identifiant les menaces potentielles et les malwares. Il aide les analystes en sécurité à surveiller l'intégrité des systèmes, détecter les anomalies et réagir de manière proactive face aux menaces, garantissant ainsi une défense solide contre les fichiers malveillants. Facile à déployer et à utiliser, Inspectra renforce la posture de sécurité des organisations en fournissant des informations et alertes précieuses sur les intrusions potentielles.
        </p>
        <div class="btn-box">
          <a href="">
            <span>
              En Savoir Plus
            </span>
            <img src="../static/images/link-arrow.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- animal section -->

  <section class="animal_section layout_padding">
    <div class="container">
      <div class="animal_container">
        <div class="box b1">
          <div class="img-box">
            <img src="../static/images/yara.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              YARA
            </h5>
            <p>
              Exploitez les règles YARA pour identifier les modèles et anomalies dans les fichiers.
            </p>
          </div>
          </div>
          <div class="box b2">
            <div class="img-box">
              <img src="../static/images/ids1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Détection
              </h5>
              <p>
                Identifiez les comportements suspects et les menaces potentielles dans les fichiers.
              </p>
            </div>
          </div>
          <div class="box b1">
            <div class="img-box">
              <img src="../static/images/rules.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Règles
              </h5>
              <p>
                Créez et appliquez facilement des règles de détection personnalisées.
              </p>
            </div>
          </div>
          <div class="box b2">
            <div class="img-box">
              <img src="../static/images/rep.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Rapports
              </h5>
              <p>
                Une interface intuitive pour consulter et analyser les rapports d’analyse.
              </p>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </section>

  <!-- end animal section -->



  <!-- footer section -->
  <br><br><br><br><br><section class="container-fluid footer_section ">
    <p>
      © 2024 Inspectra. All Rights Reserved. Powered by Innovation.
    </p>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>

</body>

</html>